{% extends 'base.html' %}

{% block content %}
	<br>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
  			{{ message }}
  			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	{% if nom %}
		<h1> Hola, {{ nom|title }}!</h1>
	{% else %}
		<h2>Com et dius?</h2>
		<br>
		<form method="POST">
			{{ form.hidden_tag() }}

			{{ form.nom.label(class="form-label") }}
			{{ form.nom(class="form-control") }}
			<br/>
			{{ form.submit(class="btn btn-primary") }}
		</form>
	{% endif %}
{% endblock %}