{% extends 'base.html' %}

{% block content %}
	<br>
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
  			{{ message }}
  			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	<br/>
	<h2>Llista d'usuaris:</h2>
	<br>

	<table class="table table-bordered table-stripped table-hover">
  		{% for usuari in usuaris %}
		<tr>
			<td>{{ usuari }} <a class="btn btn-primary" href="{{ url_for('update_usuari', id=usuari.id) }}" role="button">Update</a> <a class="btn btn-danger" href="{{ url_for('delete_usuari', id=usuari.id) }}" role="button">Delete</a></td>

		</tr>
		{% endfor %}
	</table>
		
{% endblock %}